<!-- <div class= "outer-form-container"> -->
<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput placeholder="type your stuff here ..." >
    </mat-form-field>
    <br>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
      
      </mat-select>
    </mat-form-field> -->
    
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea placeholder="type more stuff!" matInput></textarea>
    </mat-form-field>
  </div>
<!-- </div> -->
