<mat-toolbar color="primary">
  <!-- #docregion toolbar-row -->
    <mat-toolbar-row>
      <span><a href="" routerLink="/">Home</a></span>
    </mat-toolbar-row>
  <!-- #enddocregion toolbar-row -->
  <!-- #docregion toolbar-position-content -->
    <mat-toolbar-row>
      <span><a href="" routerLink="location">Location</a></span>
      <!-- <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon"></mat-icon> -->
    </mat-toolbar-row>
  <!-- #enddocregion toolbar-position-content -->
    <mat-toolbar-row>
      <span><a href="" routerLink="sales">Sales</a></span>
      <!-- <span class="example-spacer"></span> -->
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>



  
<router-outlet></router-outlet>

